.Display-time {
  color: var(--primary-color);
  font-size: 20vmin;
  user-select: none;
}

.Display-blinking {
  animation: 1.5s infinite blink;
}

@keyframes blink {
  0%,
  59% {
    opacity: 1;
  }
  60%,
  100% {
    opacity: 0;
  }
}
